@charset "UTF-8";

/* 全体
----------------------------------------- */
:root {
    --color-black: #131A12;
    --color-white: #FFF7F7;
    --color-yellow: #FFE100;
    --color-red: #E22A00;
    --color-super-white: #FFFFFF;
    --color-gray: #444543;
    --color-darkgray: #303030;
    --color-salmon: #FF7D60;

    --fz-64px: 64px;
    --fz-48px: 48px;
    --fz-40px: 40px;
    --fz-32px: 32px;
    --fz-24px: 24px;
    --fz-20px: 20px;
    --fz-16px: 16px;
    --fz-14px: 14px;
    --fz-12px: 12px;
}

body {
    background: var(--color-gray);

    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: var(--fz-16px);
    color: var(--color-white);
    line-height: 1.6;
}

.l-wrraper {
    width: min(960px, 92vw);
    margin-inline: auto;
}

/* ヘッダー
----------------------------------------- */

.l-header--sub-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.c-top {
    background: var(--color-super-white);
    padding: 20px 0;
}

.c-top__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-logo {
    width: 268px;
}

.c-logo--pc {
    display: none;
}

.c-header-nav__list {
    display: none;
}

.c-header-nav__hamburger {
    padding-inline: 10px;
}

.c-breadcrumbs {
    font-size: var(--fz-14px);
}

.c-breadcrumbs__list {
    display: flex;
    gap: 5px;
}

.c-breadcrumbs__item:not(:first-of-type)::before {
    content: "／";
    padding-inline-end: 5px;
}

@media screen and (min-width: 768px) {

    .c-logo {
        width: 210px;
    }

    .c-logo--sp {
        display: none;
    }

    .c-logo--pc {
        display: block;
    }

    .c-header-nav__list {
        display: flex;
        gap: 20px;
    }

    .c-header-nav__item {
        color: var(--color-black);
    }

    .c-header-nav__item::before {
        content: url(../img/icon_gyoza.svg);
    }

    .c-header-nav__hamburger {
        display: none;

    }
}

/* フッター
----------------------------------------- */

.l-btn-area {
    display: flex;
    justify-content: flex-end;
}

.c-top-btn {
    background: var(--color-yellow);
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.c-top-btn::before {
    content: url(../img/arrow.png);
}

.c-top-back {
    color: var(--color-black);
    font-size: var(--fz-12px);
    font-weight: bold;
    text-transform: uppercase;
}

.l-footer-inner {
    background: var(--color-super-white);
    padding-block: 50px;
    color: var(--color-black);
    font-size: var(--fz-14px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.l-footer-contets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.c-organization {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.c-logo--footer {
    width: 141px;
}

.c-organization__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.c-organization__item {
    display: flex;
    gap: 10px;
}

.c-organization__item dt {
    flex-basis: 56px;
    font-weight: normal;
}

.c-organization__item dd {
    flex-basis: fill;
}

.c-footer-nav {
    text-decoration: underline;
}

.c-sns {
    padding-inline: 32px;
}

.c-sns::before {
    display: block;
    content: "\\最新情報発信中！/";
    text-align: center;
    padding-block-end: 15px;
}

.c-sns__list {
    display: flex;
    gap: 30px;
}

.c-copyright {
    font-size: var(--fz-12px);
    display: block;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .l-footer-contets {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* -------ボタン------- */
.c-btn {
    background-color: var(--color-yellow);
    color: var(--color-black);
    font-weight: bold;
    font-size: var(--fz-16px);
    padding-inline: 48px;
    padding-block: 16px;
}

/* トップページ
----------------------------------------- */

/* メインビジュアル */
.c-mv-area {
    background: url(../img/mv.png) no-repeat center / cover;
    height: 680px;
    padding-block: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.l-main-copy {
    display: flex;
    justify-self: center;
    flex-shrink: 0;
}

.c-main-copy__text {
    font-family: 'Zen Antique', serif;
    text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.25);
    font-size: clamp(var(--fz-40px), 31.549px + 2.254vw, var(--fz-64px));
    ;
}

.l-mv-event-info {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.c-mv-event-info {
    display: flex;
    justify-content: flex-end;
    font-size: clamp(var(--fz-20px), 18.592px + 0.376vw, var(--fz-24px));
}

.c-mv-event-info__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.c-mv-event-info__item {
    display: flex;
}

.c-mv-event-info__item dt::after {
    content: "：";
}

.c-mv-event-info__item dd {
    font-weight: bold;
}

/* リードコピー */
.l-lead-copy {
    padding-block: 100px;
}

.c-lead-copy__text {
    background: var(--color-darkgray);
    border: 3px solid var(--color-white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-block: 100px;
    padding-inline: clamp(10px, -21.690px + 8.451vw, 100px);
    font-size: var(--fz-20px);

}

.c-lead-copy__text span:first-of-type {
    font-size: clamp(var(--fz-32px), 26.366px + 1.502vw, var(--fz-48px));
    font-weight: bold;
    text-align: center;
}

.c-lead-copy__text span:first-of-type span {
    color: var(--color-salmon);
}

.c-lead-copy__text span:last-of-type {
    font-weight: bold;
    color: var(--color-yellow);
}

@media screen and (min-width: 768px) {
    .c-lead-copy__text span:not(:first-of-type) {
        text-align-last: center;
    }

    .sp-only {
        display: none;
    }
}

/* メインコンテンツ */

.c-section {
    padding-block: clamp(50px, 32.394px + 4.695vw, 100px);
}

.c-section-title {
    font-size: clamp(var(--fz-40px), 37.183px + 0.751vw, var(--fz-48px));
    color: var(--color-yellow);
    font-weight: bold;
    text-align: center;
}

/* 店舗リスト */

.c-section--shop-list {
    padding-block-start: 0;
}

.l-shop-list-section {
    background: var(--color-yellow);
    box-shadow: clamp(5px, -0.282px + 1.408vw, 20px) clamp(5px, -0.282px + 1.408vw, 20px) var(--color-red);
    color: var(--color-black);
    padding-block: clamp(50px, 32.394px + 4.695vw, 100px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.c-section-title--black {
    color: var(--color-black);
}

.l-scroll-list {
    display: flex;
    align-items: center;
    padding-inline: clamp(10px, 6.479px + 0.939vw, 20px);
}

.c-scroll-btn {
    width: 40px;
    flex-shrink: 0;
}

.c-scroll-btn:last-of-type {
    transform: rotate(180deg);
}

.c-shop-card__list {
    display: flex;
    gap: 20px;
    padding-inline: clamp(0px, -7.042px + 1.878vw, 20px);
}

.c-shop-card__item {
    background-color: var(--color-super-white);
    flex-shrink: 1;
}

.c-shop-card__item:not(:first-of-type) {
    display: none;
}

.c-shop-card__item img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.c-shop-card__name {
    padding-block: 10px;
    padding-inline: 10px;
}

.c-btn--shop-list {
    background-color: var(--color-black);
    color: var(--color-super-white);
}

@media screen and (min-width: 768px) {
    .c-shop-card__item:not(:first-of-type) {
        display: block;
    }
}

/* 開催概要 */

.c-section--event-info {
    background: url(../img/bg_event_info.png) no-repeat center / cover;
}

.l-event-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.c-event-info__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(255, 255, 255, 0.6);
    color: var(--color-black);
    padding-block: clamp(10px, 6.479px + 0.939vw, 20px);
    padding-inline: clamp(10px, -21.690px + 8.451vw, 100px);
}

.c-event-info__item {
    display: flex;
}

.c-event-info__item::before {
    content: url(../img/icon_gyoza_red.svg);
    padding-inline-end: 5px;
}

.c-event-info__text {
    display: flex;
    flex-direction: column;
}

.c-event-info__text dt {
    font-weight: normal;
}

.c-event-info__text dd span {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .c-event-info__text {
        flex-direction: row;
        gap: 10px;
    }

    .c-event-info__text dt{
        width: 80px;
    }
}

/* アクセス */

.c-section--access{
    background: var(--color-super-white);
}

.c-google-map iframe{
    width: 100%;
    height: 300px;
}

.l-access{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/* お知らせ */
#news h2 {
    font-size: var(--fz-40px);
    font-weight: bold;
    color: var(--color-yellow);
    margin-bottom: 30px;
}

#news div {
    background: var(--color-super-white);
}

#news dl {
    height: 300px;
    overflow-y: scroll;
}

#news dl::-webkit-scrollbar {
    width: 20px;
}

#news dl::-webkit-scrollbar-thumb {
    background: var(--color-super-white);
    border-radius: 15px;
    border: 30px solid var(--color-super-white);
}

#news dl::-webkit-scrollbar-track {
    background: var(--color-gray);
}

.c-news__item {
    text-align: left;
    width: 260px;
    margin: 35px 15px;
    color: var(--color-black);
    font-size: var(--fz-16px);
}

.c-news__item dd {
    border-bottom: 2px solid var(--color-red);
}


/* 店舗リスト
----------------------------------------- */
main {
    width: 92%;
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    color: var(--color-white);
    font-size: var(--fz-48px);
    font-weight: bold;
    text-align: center;
    margin-block-end: 30px;
}

.c-shop-card {
    background: var(--color-darkgray);
    box-shadow: 20px 20px 0 0 var(--color-red);
    display: flex;
    gap: 30px;
    margin-block-end: 80px;
}

.c-shop-card img {
    height: 345px;
    width: 345px;
    object-fit: cover;
    flex-shrink: 0;
}

.c-shop-card_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px 10px 0;
    width: 100%;
    font-size: var(--fz-24px);
}

.c-shop-card_detailtext {
    color: var(--color-white);
}

.c-shop-card__shopname {
    font-weight: bold;
    text-decoration: underline 1.5px;
    text-decoration-color: var(--color-red);
    text-underline-offset: 0.3em;
}

.c-shop-card_detailgyoza {
    margin-block-start: 28px;
    line-height: 2;
}

.c-shop-card a {
    font-weight: bold;
    text-align: center;
    background: var(--color-yellow);
    color: var(--color-black);
    width: 100%;
    display: block;
    padding: 20px 50px;
}

.sp_br {
    display: none;
}

@media screen and (max-width: 376px) {

    .c-shop-card {
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 0 0 var(--color-red);
        gap: 20px;
        padding: 10px;
    }

    .c-shop-card img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .c-shop-card_detail {
        text-align: center;
        font-size: var(--fz-20px);
        margin: 0;
    }

    .c-shop-card_detailgyoza {
        margin-block-start: 25px;
        line-height: 1.5;
    }

    .c-shop-card a {
        margin-block-start: 20px;
    }

    .sp_br {
        display: block;
    }
}

/* 店舗詳細
----------------------------------------- */
.l-section__shop-detail+* {
    margin-block-start: 30px;
}

.c-section-title {
    font-size: var(--fz-40px);
    font-weight: bold;
}

.c-section-title+* {
    margin-block-start: 30px;
}

.c-shop-introduction {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.c-shop-introduction+* {
    margin-block-start: 30px;
}

.c-shop-introduction__description {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.c-shop-introduction__description__name {
    font-size: var(--fz-24px);
    font-weight: bold;
    border-bottom: 1px solid var(--color-red);
}

.c-shop-introduction__address {
    display: flex;
    flex-direction: column;
}

.c-shop-introduction__address__phone-number,
.c-shop-introduction__address__email-address {
    display: flex;
    align-items: center;
    gap: 5px;
}

.c-shop-introduction__address__phone-number::before {
    content: "";
    display: block;
    background: url(./../img/phone-icon.png) no-repeat center center/cover;
    width: 24px;
    height: 24px;
}

.c-shop-introduction__address__email-address::before {
    content: "";
    display: inline-block;
    background: url(./../img/mail-icon.png) no-repeat center center/cover;
    width: 24px;
    height: 24px;
}

/* ----商品紹介----- */
.c-product-introduction {
    display: flex;
    flex-direction: column;
}

.c-product-introduction__img>* {
    width: clamp(21.563rem, 18.812rem + 11.737vw, 29.375rem);
}

.c-product-introduction__img+* {
    margin-block-end: 30px;
}

.c-product-introduction__description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: clamp(21.563rem, 18.812rem + 11.737vw, 29.375rem);
}

.c-product-introduction__description__detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.c-product-introduction__description__detail>* {
    font-size: var(--fz-24px);
    font-weight: bold;
}

.c-btn--sop-detail {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .c-product-introduction {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 20px;
    }
}


/* お知らせ詳細
----------------------------------------- */
/* article {
    width: 960px;
    margin: 0 auto;
    padding-block-start: 100px;
} */
.l-news-time {
    padding-block-start: 50px;
}

time {
    font-size: var(--fz-12px);
}

.c-news__title {
    font-size: var(--fz-24px);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0 auto;
    padding-block-end: 50px;
}

/* .l-news-inner {
    max-width: 80%;
    padding: clamp(0.938rem, -0.933rem + 7.981vw, 6.25rem);
    margin: 0 auto;
} */

.c-news__titledetail {
    padding-block-end: 30px;
}

.l-news-img {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.gyoza-img {
    width: clamp(21.563rem, 12.430rem + 38.967vw, 47.5rem);
    height: 400px;
    object-fit: cover;
}

.c-news__text {
    padding-block: 50px;
}

.c-news__subtitle {
    font-size: var(--fz-16px);
    font-weight: bold;
}

.l-news-cat {
    padding-block: 50px;
}

.l-news-btn {
    background-color: var(--color-yellow);
    width: 152px;
    height: 66px;
    padding-inline: 2em;
    padding-block: 1.2em;
    margin: 0 auto;
}

.l-news-btn a {
    color: var(--color-black);
    font-weight: bold;
}

.social-text {
    font-size: var(--fz-14px);
    padding-block-end: 5px;
}

.social-list {
    display: flex;
    gap: 5px;
}

@media screen and (max-width: 768px) {
    .l-news-img {
        width: clamp(21.563rem, 8.119rem + 57.36vw, 35.688rem);
    }
}

/* よくある質問
----------------------------------------- */
.l-faq-inner {
    max-width: 760px;
    margin: 0 auto;
}

.l-faq-header {
    font-size: var(--fz-48px);
    color: var(--color-white);
    font-weight: bold;
    text-align: center;
}

.l-faq-list {
    display: flex;
    justify-content: center;
    padding-block-end: 30px;
}

.l-faq-list li {
    font-size: var(--fz-16px);
    margin: 30px;
    text-decoration: underline;
}

.l-faq-bg {
    background-color: var(--color-yellow);
    width: 200px;
    height: 50px;
    margin: 0 auto;
}


.l-faq {
    padding-block-end: 60px;
}

.l-faq-about {
    font-size: var(--fz-16px);
    font-weight: bold;
    color: var(--color-black);
    text-align: center;
    padding-block-start: 1em;
    margin: 0 auto;
}

.c-faq-content {
    padding-block-start: 30px;
}

.c-faq-question {
    font-size: var(--fz-16px);
    font-weight: bold;
    padding-block-end: 10px;
}

.c-faq-answer {
    font-size: var(--fz-16px);
}

.c-faq-answer a {
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .l-faq-inner {
        max-width: 92%;
    }

    .l-faq-header {
        font-size: var(--fz-40px);
    }

    .l-faq-list li {
        flex-shrink: 0;
    }
}

/* プライバシーポリシー
----------------------------------------- */

.l-privacy-header {
    font-size: clamp(2.5rem, 2.324rem + 0.751vw, 3rem);
    margin: 0 auto;
    font-weight: bold;
    color: var(--color-white);
    text-align: center;
    padding-block-end: 50px;
}

.l-privacy-inner {
    width: clamp(21.563rem, 8.028rem + 57.746vw, 60rem);
    margin: 0 auto;
    background-color: var(--color-super-white);
}

.c-privacy {
    padding-block-end: 50px;
}

.c-privacy-content {
    color: var(--color-gray);
    width: 79%;
    margin: 0 auto;
    line-height: 1.6;
    padding-block-start: 50px;
}

.c-privacy-title {
    font-size: var(--fz-20px);
    font-weight: bold;
    list-style: style;
}

.c-privacy-desc {
    font-weight: normal;
    padding-block-start: 10px;
}

@media screen and (max-width: 768px) {
    .l-privacy-header {
        width: 70%;
    }
}


/* お問合せ
------------------------------------------ */

/* ------レイアウト------- */
.l-contact-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.l-contact-heading+* {
    margin-block-start: 30px;
    margin-block-end: 100px;
}

.l-contact-form {
    display: grid;
    gap: 24px;
}

.l-contact-agree {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

/* -------------------------- */

/* -----------システム関係---- */

.c-contact-type {
    display: flex;
    flex-direction: column;
}

/* アイコンを追加 */
.c-contact-type__title {
    font-size: var(--fz-16px);
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.c-contact-type__title::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    /* ↓後で画像変える */
    background: url(./../img/icon_gyoza02.png) no-repeat center/cover;
    flex-shrink: 0;
    white-space: nowrap;

}

/* 必須項目を付ける */
.c-contact-type:has(:required) .c-contact-type__title::after {
    content: "※必須";
    font-size: var(--fz-16px);
    color: var(--color-salmon);
    padding-inline-start: 4px;

}

/* 入力フォーム */
.c-contact-type__content {
    color: var(--color-black);
}

.c-contact-type__content>* {
    background-color: var(--color-white);
    width: 100%;
}

/* お問い合わせ種別 */
.c-contact-type__content--select>* {
    width: 267px;
}

/* お問い合わせ内容入力欄 */
.c-contact-type__content--long>* {
    height: 158px;

}


/* プライバシーポリシー同意欄 */
.c-contact-agree input[type="checkbox"] {
    appearance: auto;
    -webkit-appearance: auto;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.c-contact-agree {
    width: clamp(21.563rem, 17.447rem + 17.559vw, 33.25rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

/* ---------------------- */

/* -------pc版----------- */

@media screen and (min-width: 768px) {
    .c-contact-type {
        flex-direction: row;
        align-items: start;
    }

    .c-contact-type__title {
        width: 240px;
    }

    .c-contact-type__title+* {
        margin-inline-start: 8px;
    }

    .c-contact-type__content {
        flex-grow: 1;
    }


}