@charset "UTF-8";

/* 全体
----------------------------------------- */


:root {
    --color-black: #131A12;
    --color-white: #FFF7F7;
    --color-yellow: #FFE100;
    --color-red: #E22A00;
    --color-super-white: #FFFFFF;
    --color-gray: #444543;
    --color-darkgray: #303030;
    --color-salmon: #FF7D60;

    --fz-64px: 64px;
    --fz-48px: 48px;
    --fz-40px: 40px;
    --fz-24px: 24px;
    --fz-20px: 20px;
    --fz-16px: 16px;
    --fz-14px: 14px;
    --fz-12px: 12px;
}

body {
    background: var(--color-gray);

    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: var(--fz-16px);
    color: var(--color-white);
    line-height: 1.6;
}

.l-wrraper {
    width: min(960px, 92vw);
    margin: auto;
}

/* ヘッダー
----------------------------------------- */

.l-header--sub-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.c-top {
    background: var(--color-super-white);
    padding: 20px 0;
}

.c-top__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-logo {
    width: 268px;
}

.c-logo--pc {
    display: none;
}

.c-header-nav__list {
    display: none;
}

.c-header-nav__hamburger {
    padding-inline: 10px;
}

.c-breadcrumbs {
    font-size: var(--fz-14px);
}

.c-breadcrumbs__list {
    display: flex;
    gap: 5px;
}

.c-breadcrumbs__item:not(:first-of-type)::before {
    content: "／";
    padding-inline-end: 5px;
}

@media screen and (min-width: 768px) {

    .c-logo {
        width: 210px;
    }

    .c-logo--sp {
        display: none;
    }

    .c-logo--pc {
        display: block;
    }

    .c-header-nav__list {
        display: flex;
        gap: 20px;
    }

    .c-header-nav__item {
        color: var(--color-black);
    }

    .c-header-nav__item::before {
        content: url(../img/icon_gyoza.png);
    }

    .c-header-nav__hamburger {
        display: none;
        ;
    }
}

/* フッター
----------------------------------------- */

.l-footer-inner {
    background: var(--color-super-white);
    padding-block: 50px;
    color: var(--color-black);
    font-size: var(--fz-14px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.l-footer-contets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.c-organization {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.c-logo--footer {
    width: 141px;
}

.c-organization__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.c-organization__item{
    display: flex;
    gap: 10px;
}

.c-organization__item dt{
    flex-basis: 56px;
    font-weight: normal;
}

.c-organization__item dd {
    flex-basis: fill;
}

.c-footer-nav {
    text-decoration: underline;
}

.c-sns {
    padding-inline: 32px;
}

.c-sns::before {
    display: block;
    content: "\\最新情報発信中！/";
    text-align: center;
    padding-block-end: 15px;
}

.c-sns__list {
    display: flex;
    gap: 30px;
}

.c-copyright{
    font-size: var(--fz-12px);
    display: block;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .l-footer-contets{
        flex-direction: row;
        justify-content: space-between;
    }
}

.l-header {}

/* トップページ
----------------------------------------- */

/* 店舗リスト
----------------------------------------- */
main {
    width: 92%;
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    color: var(--color-white);
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}

.c-shop-card {
    background: var(--color-darkgray);
    box-shadow: 20px 20px 0 0 var(--color-red);
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}

.c-shop-card img {
    height: 345px;
    width: 345px;
    object-fit: cover;
    flex-shrink: 0;
}

.c-shop-card_detail {
    /* background: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px 10px 0;
    width: 100%;
}

.c-shop-card_detailtext {
    color: var(--color-white);
}

.c-shop-card__shopname {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline 2px;
    text-decoration-color: var(--color-red);
    text-underline-offset: 0.2em;
}

.c-shop-card_detailgyoza {
    margin-top: 28px;
    font-size: 24px;
    line-height: 2;
}

.c-shop-card a {
    font-weight: bold;
    text-align: center;
    background: var(--color-yellow);
    width: 100%;
    bottom: 0;
    display: block;
    padding: 20px 50px;
}

@media screen and (max-width: 375px) {

    .c-shop-card {
        display: flex;
        flex-direction: column;
    }
}

/* 店舗詳細
----------------------------------------- */

/* お知らせ詳細
----------------------------------------- */

/* よくある質問
----------------------------------------- */

/* プライバシーポリシー
----------------------------------------- */

/* お問合せ
------------------------------------------ */