@charset "UTF-8";

/* 全体
----------------------------------------- */
:root {
    --color-black: #131A12;
    --color-white: #FFF7F7;
    --color-yellow: #FFE100;
    --color-red: #E22A00;
    --color-super-white: #FFFFFF;
    --color-gray: #444543;
    --color-darkgray: #303030;
    --color-salmon: #FF7D60;

    --fz-64px: 64px;
    --fz-48px: 48px;
    --fz-40px: 40px;
    --fz-24px: 24px;
    --fz-20px: 20px;
    --fz-16px: 16px;
    --fz-14px: 14px;
    --fz-12px: 12px;
}

body {
    background: var(--color-gray);
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: var(--fz-16px);
    color: var(--color-white);
    line-height: 1.6;
}

.l-wrraper {
    width: min(960px, 92vw);
    margin: auto;
}

/* ヘッダー
----------------------------------------- */

.l-header--sub-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.c-top {
    background: var(--color-super-white);
    padding: 20px 0;
}

.c-top__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-logo {
    width: 268px;
}

.c-logo--pc {
    display: none;
}

.c-header-nav__list {
    display: none;
}

.c-header-nav__hamburger {
    padding-inline: 10px;
}

.c-breadcrumbs {
    font-size: var(--fz-14px);
}

.c-breadcrumbs__list {
    display: flex;
    gap: 5px;
}

.c-breadcrumbs__item:not(:first-of-type)::before {
    content: "／";
    padding-inline-end: 5px;
}

@media screen and (min-width: 768px) {

    .c-logo {
        width: 210px;
    }

    .c-logo--sp {
        display: none;
    }

    .c-logo--pc {
        display: block;
    }

    .c-header-nav__list {
        display: flex;
        gap: 20px;
    }

    .c-header-nav__item {
        color: var(--color-black);
    }

    .c-header-nav__item::before {
        content: url(../img/icon_gyoza.png);
    }

    .c-header-nav__hamburger {
        display: none;
        ;
    }
}

/* フッター
----------------------------------------- */

.l-btn-area{
    display: flex;
    justify-content: flex-end;
}

.c-top-btn {
    background: var(--color-yellow);
    color: var(--color-gray);
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.c-top-btn::before {
    content: url(../img/arrow.png);
}

/* .c-top-btn a {
    color: var(--color-black);
    font-size: var(--fz-12px);
    font-weight: bold;
    text-transform: uppercase;
} */

.l-footer-inner {
    background: var(--color-super-white);
    padding-block: 50px;
    color: var(--color-black);
    font-size: var(--fz-14px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.l-footer-contets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.c-organization {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.c-logo--footer {
    width: 141px;
}

.c-organization__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.c-organization__item {
    display: flex;
    gap: 10px;
}

.c-organization__item dt {
    flex-basis: 56px;
    font-weight: normal;
}

.c-organization__item dd {
    flex-basis: fill;
}

.c-footer-nav {
    text-decoration: underline;
}

.c-sns {
    padding-inline: 32px;
}

.c-sns::before {
    display: block;
    content: "\\最新情報発信中！/";
    text-align: center;
    padding-block-end: 15px;
}

.c-sns__list {
    display: flex;
    gap: 30px;
}

.c-copyright {
    font-size: var(--fz-12px);
    display: block;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .l-footer-contets {
        flex-direction: row;
        justify-content: space-between;
    }
}


/* トップページ
----------------------------------------- */

/* 店舗リスト
----------------------------------------- */

/* 店舗詳細
----------------------------------------- */

/* お知らせ詳細
----------------------------------------- */

/* よくある質問
----------------------------------------- */
.l-faq-inner{
    max-width: 760px;
    margin: 0 auto;
}
.l-faq-header{
    font-size: var(--fz-48px);
    color: var(--color-white);
    font-weight: bold;
    text-align: center;
}
.l-faq-list{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.l-faq-list li{
    font-size: var(--fz-16px);
    margin: 30px;
    text-decoration: underline;
}
.l-faq-bg{
    background-color: var(--color-yellow);
    width: 200px;
    height: 50px;
    margin: 0 auto;
}
.l-faq{
    padding-bottom: 60px;
}
.l-faq-about{
    font-size: var(--fz-16px);
    font-weight: bold;
    color: var(--color-black);
    text-align: center;
    padding-top: 1em;
    margin: 0 auto;
}
.c-faq-content{
    padding-block-start: 30px;
}
.c-faq-question{
    font-size: var(--fz-16px);
    font-weight: bold;
    padding-block-end: 10px;
}
.c-faq-answer{
    font-size: var(--fz-16px);
}
.c-faq-answer a{
    font-weight: bold;
    text-decoration: underline;
}
@media screen and (max-width: 768px){
    .l-faq-inner{
        max-width: 92%;
    }
.l-faq-header{
font-size: var(--fz-40px);
}
.l-faq-list li{
    flex-shrink: 0;
}
}

/* プライバシーポリシー
----------------------------------------- */
section{
    max-width: 960px;
    margin: 0 auto;
}
.l-privacy-header {
    font-size: clamp(2.5rem, 2.324rem + 0.751vw, 3rem);
    margin: 0 auto;
    font-weight: bold;
    color: var(--color-white);
    text-align: center;
    padding-block-end: 50px;
}

.l-privacy-inner {
    width: clamp(21.563rem, 8.028rem + 57.746vw, 60rem);
    margin: 0 auto;
    background-color: var(--color-super-white);
}
.c-privacy{
    padding-block-end: 50px;
}
.c-privacy-content {
    color: var(--color-gray);
    width: 79%;
    margin: 0 auto;
    line-height: 1.6;
    padding-top: 50px;
}
.c-privacy-title{
    font-size: var(--fz-20px);
    font-weight: bold;
    list-style: style;
}
.c-privacy-desc{
    font-weight: normal;
    padding-block-start: 10px;
}
@media screen and (max-width: 768px){
    .l-privacy-header{
        width: 70%;
    }
}


/* お問合せ
------------------------------------------ */