@charset "UTF-8";

/* 全体
----------------------------------------- */

body{
    font-family: 'Zen Maru Gothic',sans-serif;
    font-size: 16px;
    background-color: #444543;
}

.l-header{

}

/* トップページ
----------------------------------------- */

/* 店舗リスト
----------------------------------------- */

/* 店舗詳細
----------------------------------------- */

/* お知らせ詳細
----------------------------------------- */

/* よくある質問
----------------------------------------- */

/* プライバシーポリシー
----------------------------------------- */
.l-privacy-header{
    font-size: 48px;
    color: #fff7f7;
    text-align: center;
}

/* お問合せ
------------------------------------------ */