@charset "UTF-8";

/* 全体
----------------------------------------- */

:root {
    --color-black: #131A12;
    --color-white: #FFF7F7;
    --color-yellow: #FFE100;
    --color-red: #E22A00;
    --color-super-white: #FFFFFF;
    --color-gray: #444543;
    --color-darkgray: #303030;
    --color-salmon: #FF7D60;

    --fz-64px: 64px;
    --fz-48px: 48px;
    --fz-40px: 40px;
    --fz-24px: 24px;
    --fz-20px: 20px;
    --fz-16px: 16px;
    --fz-14px: 14px;
    --fz-12px: 12px;
}

body {
    background: var(--color-gray);
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: var(--fz-16px);
    color: var(--color-white);
    line-height: 1.6;
}
 
.l-wrraper {
    width: min(960px, 92vw);
    margin: auto;
}

/* ヘッダー
----------------------------------------- */

.l-header--sub-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.c-top {
    background: var(--color-super-white);
    padding: 20px 0;
}

.c-top__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-logo {
    width: 268px;
}

.c-logo--pc {
    display: none;
}

.c-header-nav__list {
    display: none;
}

.c-header-nav__hamburger {
    padding-inline: 10px;
}

.c-breadcrumbs {
    font-size: var(--fz-14px);
}

.c-breadcrumbs__list {
    display: flex;
    gap: 5px;
}

.c-breadcrumbs__item:not(:first-of-type)::before {
    content: "／";
    padding-inline-end: 5px;
}

@media screen and (min-width: 768px) {

    .c-logo {
        width: 210px;
    }

    .c-logo--sp {
        display: none;
    }

    .c-logo--pc {
        display: block;
    }

    .c-header-nav__list {
        display: flex;
        gap: 20px;
    }

    .c-header-nav__item {
        color: var(--color-black);
    }

    .c-header-nav__item::before {
        content: url(../img/icon_gyoza.png);
    }

    .c-header-nav__hamburger {
        display: none;
        ;
    }
}

/* フッター
----------------------------------------- */

.l-footer-inner {
    background: var(--color-super-white);
    padding-block: 50px;
    color: var(--color-black);
    font-size: var(--fz-14px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.l-footer-contets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.c-organization {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.c-logo--footer {
    width: 141px;
}

.c-organization__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.c-organization__item{
    display: flex;
    gap: 10px;
}

.c-organization__item dt{
    flex-basis: 56px;
    font-weight: normal;
}

.c-organization__item dd {
    flex-basis: fill;
}

.c-footer-nav {
    text-decoration: underline;
}

.c-sns {
    padding-inline: 32px;
}

.c-sns::before {
    display: block;
    content: "\\最新情報発信中！/";
    text-align: center;
    padding-block-end: 15px;
}

.c-sns__list {
    display: flex;
    gap: 30px;
}

.c-copyright{
    font-size: var(--fz-12px);
    display: block;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .l-footer-contets{
        flex-direction: row;
        justify-content: space-between;
    }
}

/* -------ボタン------- */
.c-btn{
    background-color: var(--color-yellow);
    color: var(--color-black);
    font-weight: bold;
    font-size: var(--fz-16px);
    padding-inline: 48px;
    padding-block: 16px;
}

/* トップページ
----------------------------------------- */

/* 店舗リスト
----------------------------------------- */

/* 店舗詳細
----------------------------------------- */

/* お知らせ詳細
----------------------------------------- */

/* よくある質問
----------------------------------------- */

/* プライバシーポリシー
----------------------------------------- */

/* お問合せ
------------------------------------------ */

/* ------レイアウト------- */
.l-contact-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.l-contact-heading +*{
    margin-block-start: 30px;
    margin-block-end: 100px;
}

.l-contact-form{
    display: grid;
    gap: 24px;
}

.l-contact-agree{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
/* -------------------------- */

/* -----------システム関係---- */

.c-contact-type{
    display: flex;
    flex-direction: column;
}

/* アイコンを追加 */
.c-contact-type__title {
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.c-contact-type__title::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    /* ↓後で画像変える */
    background: url(./../img/icon_gyoza02.png) no-repeat center/cover;
    flex-shrink: 0;
    white-space: nowrap;

}

/* 必須項目を付ける */
.c-contact-type:has(:required) .c-contact-type__title::after {
    content: "※必須";
    font-size: 16px;
    color: #FF7D60;
    padding-inline-start: 4px;

}

/* 入力フォーム */
.c-contact-type__content {
    color: black;
}

.c-contact-type__content >*{
    background-color: white;
    width: 100%;
}

/* お問い合わせ種別 */
.c-contact-type__content--select >*{
    width: 267px;
}

/* お問い合わせ内容入力欄 */
.c-contact-type__content--long >*{
    height: 158px;

}


/* プライバシーポリシー同意欄 */
.c-contact-agree input[type="checkbox"] {
    appearance: auto;
    -webkit-appearance: auto;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.c-contact-agree{
    width: clamp(21.563rem, 17.447rem + 17.559vw, 33.25rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

/* ---------------------- */

/* -------pc版----------- */

@media screen and (min-width: 768px) {
    .c-contact-type{
        flex-direction: row ;
        align-items: start;
    }
    .c-contact-type__title{
        width: 240px;
    }

    .c-contact-type__title + *{
        margin-inline-start: 8px;
    }

    .c-contact-type__content{
        flex-grow: 1;
    }


}
