@charset "UTF-8";

/* 全体
----------------------------------------- */

:root {
    --color-black: #131A12;
    --color-white: #FFF7F7;
    --color-yellow: #FFE100;
    --color-red: #E22A00;
    --color-super-white: #FFFFFF;
    --color-gray: #444543;
    --color-darkgray: #303030;
    --color-salmon: #FF7D60;

    --fz-64px: 64px;
    --fz-48px: 48px;
    --fz-40px: 40px;
    --fz-24px: 24px;
    --fz-20px: 20px;
    --fz-16px: 16px;
    --fz-14px: 14px;
    --fz-12px: 12px;
}

body {
    background: var(--color-gray);
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: var(--fz-16px);
    color: var(--color-white);
    line-height: 1.6;
}

.l-wrraper {
    width: min(960px, 92vw);
    margin: auto;
}

/* ヘッダー
----------------------------------------- */

.l-header--sub-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.c-top {
    background: var(--color-super-white);
    padding: 20px 0;
}

.c-top__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-logo {
    width: 268px;
}

.c-logo--pc {
    display: none;
}

.c-header-nav__list {
    display: none;
}

.c-header-nav__hamburger {
    padding-inline: 10px;
}

.c-breadcrumbs {
    font-size: var(--fz-14px);
}

.c-breadcrumbs__list {
    display: flex;
    gap: 5px;
}

.c-breadcrumbs__item:not(:first-of-type)::before {
    content: "／";
    padding-inline-end: 5px;
}

@media screen and (min-width: 768px) {

    .c-logo {
        width: 210px;
    }

    .c-logo--sp {
        display: none;
    }

    .c-logo--pc {
        display: block;
    }

    .c-header-nav__list {
        display: flex;
        gap: 20px;
    }

    .c-header-nav__item {
        color: var(--color-black);
    }

    .c-header-nav__item::before {
        content: url(../img/icon_gyoza.png);
    }

    .c-header-nav__hamburger {
        display: none;
        ;
    }
}

/* フッター
----------------------------------------- */

.l-footer-inner {
    background: var(--color-super-white);
    padding-block: 50px;
    color: var(--color-black);
    font-size: var(--fz-14px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.l-footer-contets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.c-organization {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.c-logo--footer {
    width: 141px;
}

.c-organization__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.c-organization__item {
    display: flex;
    gap: 10px;
}

.c-organization__item dt {
    flex-basis: 56px;
    font-weight: normal;
}

.c-organization__item dd {
    flex-basis: fill;
}

.c-footer-nav {
    text-decoration: underline;
}

.c-sns {
    padding-inline: 32px;
}

.c-sns::before {
    display: block;
    content: "\\最新情報発信中！/";
    text-align: center;
    padding-block-end: 15px;
}

.c-sns__list {
    display: flex;
    gap: 30px;
}

.c-copyright {
    font-size: var(--fz-12px);
    display: block;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .l-footer-contets {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* トップページ
----------------------------------------- */

/* 店舗リスト
----------------------------------------- */

/* 店舗詳細
----------------------------------------- */

/* お知らせ詳細
----------------------------------------- */
article {
    width: 960px;
    margin: 0 auto;
    padding-block-start: 100px;
}

time {
    font-size: var(--fz-12px);
}

.c-news__title {
    font-size: var(--fz-24px);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0 auto;
    padding-block-end: 50px;
}

.l-news-inner {
    /* max-width: 80%; */
    padding: clamp(0.938rem, -0.933rem + 7.981vw, 6.25rem);
    margin: 0 auto;
}

.c-news__titledetail {
    padding-block-end: 30px;
}
.l-news-img{
    display: block;
    text-align: center;
}
.gyoza-img {
    width: clamp(21.563rem, 12.430rem + 38.967vw, 47.5rem);
    height: clamp(21.563rem, 20.352rem + 5.164vw, 25rem);
    /* width: clamp(21.563rem, 8.028rem + 57.746vw, 60rem); */
    object-fit: cover;
}

.c-news__text {
    padding-block: 50px;
}

.c-news__subtitle {
    font-size: var(--fz-16px);
    font-weight: bold;
}

.l-news-cat {
    padding-block: 50px;
}

.l-news-btn {
    background-color: var(--color-yellow);
    width: 152px;
    height: 66px;
    padding-inline: 2em;
    padding-block: 1.2em;
    margin: 0 auto;
}

.l-news-btn a {
    color: var(--color-black);
    font-weight: bold;
}

.social-text {
    font-size: var(--fz-14px);
    padding-block-end: 5px;
}

.social-list {
    display: flex;
    gap: 5px;
}
@media screen and (max-width: 768px) {
     article {
        width: 92%;
    }
    /*.c-news__title{
    }
    .l-news-inner{
       max-width: 345px;
    }:
    */
    .gyoza-img {
        height: 345px;
        /* width: clamp(21.563rem, -3.664rem + 107.634vw, 48rem); */
    } 
}

/* よくある質問
----------------------------------------- */

/* プライバシーポリシー
----------------------------------------- */

/* お問合せ
------------------------------------------ */