@charset "UTF-8";

/* 全体
----------------------------------------- */

body{

}

.l-header{

}

/* トップページ
----------------------------------------- */

/* 店舗リスト
----------------------------------------- */

/* 店舗詳細
----------------------------------------- */

/* お知らせ詳細
----------------------------------------- */

/* よくある質問
----------------------------------------- */

/* プライバシーポリシー
----------------------------------------- */

/* お問合せ
------------------------------------------ */