@charset "UTF-8";

/* 全体
----------------------------------------- */

body {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 16px;
    background-color: #444543;
}

.l-header {}

/* トップページ
----------------------------------------- */

/* 店舗リスト
----------------------------------------- */

/* 店舗詳細
----------------------------------------- */

/* お知らせ詳細
----------------------------------------- */

/* よくある質問
----------------------------------------- */

/* プライバシーポリシー
----------------------------------------- */
section{
    max-width: 960px;
    margin: 0 auto;
}
.l-privacy-header {
    font-size: clamp(2.5rem, 2.324rem + 0.751vw, 3rem);
    margin: 0 auto;
    font-weight: bold;
    color: #fff7f7;
    text-align: center;
    padding-block-end: 50px;
}

.l-privacy-inner {
    width: clamp(21.563rem, 8.028rem + 57.746vw, 60rem);
    margin: 0 auto;
    background-color: #ffffff;
}
.c-privacy{
    padding-block-end: 50px;
}
.c-privacy-content {
    width: 79%;
    margin: 0 auto;
    line-height: 1.6;
    padding-top: 50px;
}
.c-privacy-title{
    font-size: 20px;
    font-weight: bold;
    list-style: style;
}
.c-privacy-desc{
    font-weight: normal;
    padding-block-start: 10px;
}
@media screen and (max-width: 768px){
    .l-privacy-header{
        width: 70%;
    }
}


/* お問合せ
------------------------------------------ */