@charset "UTF-8";

/* 全体
----------------------------------------- */

body {
    font-family: 'Zen Maru Gothic' ,sans-serif;
    background-color: #444543;
    color: #FFF7F7;
    line-height: 1.6;
}

.l-header {}

/* トップページ
----------------------------------------- */

/* 店舗リスト
----------------------------------------- */

/* 店舗詳細
----------------------------------------- */

/* お知らせ詳細
----------------------------------------- */

/* よくある質問
----------------------------------------- */
.l-faq-inner{
    max-width: 760px;
    margin: 0 auto;
}
.l-faq-header{
    font-size: 48px;
    color: #FFF7F7;
    font-weight: bold;
    text-align: center;
}
.l-faq-list{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.l-faq-list li{
    font-size: 16px;
    margin: 30px;
    text-decoration: underline;
}
.l-faq-bg{
    background-color: #ffe100;
    width: 200px;
    height: 50px;
    margin: 0 auto;
}
.l-faq{
    padding-bottom: 60px;
}
.l-faq-about{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: center;
    padding-top: 1em;
    margin: 0 auto;
}
.c-faq-content{
    padding-block-start: 30px;
}
.c-faq-question{
    font-size: 16px;
    font-weight: bold;
    padding-block-end: 10px;
}
.c-faq-answer{
    font-size: 16px;
}
.c-faq-answer a{
    font-weight: bold;
    text-decoration: underline;
}
@media screen and (max-width: 768px){
    .l-faq-inner{
        max-width: 92%;
    }
.l-faq-header{
font-size: 40px;
}
.l-faq-list li{
    flex-shrink: 0;
}
}

/* プライバシーポリシー
----------------------------------------- */

/* お問合せ
------------------------------------------ */